<footer class="footer">
	<div><%= link_to "NCI Internship Program", "http://newcollegeinstitute.org/Community_Outreach/Internship_Opportunities_2014.aspx" %></div>
	<div class="pull-right">NCI</div>
</footer>